{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'styles/contact.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&family=Montserrat:wght@500;600&display=swap" rel="stylesheet">
</head>
<body>
  <div class="contact-section">
    <h1>Contact Us</h1>
    <img class="main-img" src="{% static 'images/images14.png' %}" alt="">
    <div class="contact">
      
      <form action="">
        
        <input class="text-box" type="text" placeholder=" Your Name"> <br> <br>
        <input class="text-box" type="email" name="" id="" placeholder="User Email"> <br> <br>
        <input class="message" type="text" placeholder="Message"> <br> <br>
        <BUtton class="sumbit-btn">Sumbit</BUtton>
        <BUtton class="sumbit-btn"> <a href="{% url 'customer:home' %}">Back to Home</a></BUtton>
      </form>
    </div>
  </div>
</body>
</html>