body{
  background-color: #f3d9e8;
  
}

.contact-section{
  background-color: #F2EBE3;
  width: 50%;
  height: 400px;
  margin: 10% 25%;
  border-radius: 25px;
  text-align: center;
  position: relative;
}

h1{
font-size: 32px;
font-weight: bold;
font-family: 'Montserrat', sans-serif;
/* margin-top: 20px; */
display: inline;
position: absolute;
top: 20px;
right: 253px;
}
.contact{
  display: inline;
  position: absolute;
  top: 115px;
  right: 125px;
}

.message{
  width: 350px;
  height: 100px;
  border-radius: 340px;
  border: none;
}
.text-box{
  width: 350px;
  height: 30px;
  border-radius: 30px;
  border: none;
}

::placeholder{
  color: #d8bc9d;
}
.sumbit-btn{
  background-color: #E1C7A2;
  border: none;
  padding: 10px 100px;
  border-radius: 50px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}