body{
  background-color: #f3d9e8;
  
}

.contact-section{
  background-color: #F2EBE3;
  width: 50%;
  height: 500px;
  margin: 10% 25%;
  border-radius: 25px;
  text-align: center;
  position: relative;
}

h1{
font-size: 32px;
font-weight: bold;
font-family: 'Montserrat', sans-serif;
/* margin-top: 20px; */
display: inline;
position: absolute;
top: 20px;
right: 253px;
}
.contact{
  display: inline;
  position: absolute;
  top: 115px;
  right: 77px;
}

.message{
  width: 350px;
  height: 100px;
  border-radius: 29px;
  border: none;
}
.text-box{
  width: 350px;
  height: 30px;
  border-radius: 30px;
  border: none;
}

::placeholder{
  color: #d8bc9d;
  margin-left: 20px;

}
.sumbit-btn{
  /* background-color: #E1C7A2; */
  border: gray 1px solid;
  padding: 12px 33px;
  border-radius: 41px;
  color: #0D1713;
  font-size: 20px;
  font-weight: bold;
}
.sumbit-btn:hover{
  background-color: #E1C7A2;
  color: #fff;
  cursor: pointer;
  border: none;
}
a:hover{
  color: #fff;
}
a{
  text-decoration: none;
  color:#0D1713;
}

.main-img{
  position: absolute;
  left: 26px;
  top: 102px;

}